class <%= class_name %> < ApplicationRecord
  mapping(
<% @fields.reject{|f| f.hidden || f.reference? }.each do |field| -%>
    <%= field.name %>: { <%= field.cr_type %>? }
<% end -%>
  )
<% @fields.select{|f| f.reference? }.each do |field| %>
  belongs_to :<%= field.name %>
<% end -%>
end
